@charset "UTF-8";
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

[hidden] {
    display: none !important;
}

body {
    font: 400 16px/1.5 'Noto Sans CJK TC', 'Noto Sans TC', "Microsoft JhengHei UI", "Microsoft YaHei UI", "Microsoft JhengHei", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.flex-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

header {
    background: #fafafa;
}

.flex-row > [class*="col-"] {
    float: none;
}

main aside {
    border-left: 1px solid #DDD;
}

#componentSrc .component-wrapper {
    margin: 0 auto 1rem;
}

#componentSrc .component ~ .desc {
    display: inline-block;
    margin-left: 1rem;
    color: #3c3c3c;
    vertical-align: middle;
}

#mainCanvas {
    position: relative;
    background: #FEFCF5;
    overflow: hidden;
    border: 1px solid #000;
}

#mainCanvas, #canvas {
    width: 100%;
    height: 400px;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.component {
    padding: 10px;
}

.component:hover {
    background: #f7e1b5;
}

#mainCanvas .component {
    position: absolute;
    z-index: 2;
}

.drop-cover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#mainCanvas .component:hover {
    background: none;
    outline: 1px solid #333;
}

#mainCanvas.c-d .drop-cover {
    display: block;
    background: rgba(0, 0, 0, .2);
}

#mainCanvas .component.dragging {
    opacity: 0;
    z-index: 20;
}

.eq {
    overflow: hidden;
    text-overflow: ellipsis;
}

.eq span {
    white-space: nowrap;
}

.fplot{
    height: 400px;
}